<?xml version="1.0" encoding="utf-8"?>
<Macro Key="e543b801-e69e-4516-92e9-0c592a05246c" Alias="SelectBlock" Level="0">
  <Name>Select Block</Name>
  <MacroSource>~/Views/MacroPartials/_SelectBlock.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Select Block</Name>
      <Alias>selectBlock</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>My.BlockSelector</EditorAlias>
    </Property>
  </Properties>
</Macro>