@model Kickoff.Models.Block.SiteFooterModel

@{ 
    var footerCssClass = Model.UseHomepageStyle ? "absoluteFooter" : "bg-dark";
}

<footer class="footer text-center @footerCssClass">
    <div class="container">
        <ul class="list-inline mb-5">

            @if (!string.IsNullOrEmpty(Model.FacebookUrl))
            {
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
            }

            @if (!string.IsNullOrEmpty(Model.TwitterUrl))
            {
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
            }

            @if (!string.IsNullOrEmpty(Model.LinkedinUrl))
            {
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="#!">
                        <i class="icon-social-linkedin"></i>
                    </a>
                </li>
            }


            @if (!string.IsNullOrEmpty(Model.GithubUrl))
            {
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="#!">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
            }
        </ul>
        <p class="text-muted small mb-0">@Model.CopyrightText @DateTime.Now.Year</p>
    </div>
</footer>