<?xml version="1.0" encoding="utf-8"?>
<DataType Key="394d6005-6641-4529-be36-20b1fe75879f" Alias="Block Picker Single" Level="1">
  <Info>
    <Name>Block Picker Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/a0fdfa7b27eb41f38fcd5ee26172561b"
  },
  "Filter": "cTABlock,headerBlock",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>