<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e3fe251-247e-4fb8-aa3e-01e8cd05cab3" Alias="Default Grid" Level="1">
  <Info>
    <Name>Default Grid</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      },
      {
        "name": "2 column layout",
        "sections": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Headline",
        "name": "Headline",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ]
          }
        ]
      },
      {
        "label": "Article",
        "name": "Article",
        "areas": [
          {
            "grid": 4
          },
          {
            "grid": 8
          }
        ]
      },
      {
        "name": "Single - Large",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 8,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ]
      },
      {
        "name": "Triple Column",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>