<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34475814-d5fa-4960-a4d0-523a9327ca2e" Alias="Figure - Numbers - Decimal" Level="1">
  <Info>
    <Name>Figure - Numbers - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>