<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d248ec5-41d7-49ee-8f5e-94f698ae7be3" Alias="Image Border Style - Dropdown" Level="1">
  <Info>
    <Name>Image Border Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Box"
    },
    {
      "id": 2,
      "value": "Circle"
    }
  ]
}]]></Config>
</DataType>