<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04c3278b-ec2c-4dcd-8a9d-ca5a6378b422" Alias="Multi Url Picker" Level="1">
  <Info>
    <Name>Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>