<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cfd31443-3fc9-41b3-8396-6dbdb541d87e" Alias="Site Footer Picker" Level="1">
  <Info>
    <Name>Site Footer Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/a0fdfa7b27eb41f38fcd5ee26172561b"
  },
  "Filter": "siteFooter",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>