<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9497d1c4-6774-467e-acd1-8076adadfbe7" Alias="basicPage" Level="3">
  <Info>
    <Name>Basic Page</Name>
    <Icon>icon-keyboard color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="2a4990c9-09f4-4fb0-a593-ea7304210300">pageBase</Parent>
    <Compositions>
      <Composition Key="2a4990c9-09f4-4fb0-a593-ea7304210300">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>BasicPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="afd35af9-ef9c-422a-a305-8b1a912a6289">BasicPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>