<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9dcc847c-66b5-4afe-a185-b34da454a560" Alias="blockRoot" Level="2">
  <Info>
    <Name>Block Root</Name>
    <Icon>icon-thumbnails-small color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="21a1c1f0-a0d0-4dd4-9eaa-3b08f7860583" SortOrder="0">highlightBlock</ContentType>
    <ContentType Key="de98e116-626a-488f-ac0f-74323b8c84f2" SortOrder="1">cTABlock</ContentType>
    <ContentType Key="4fd1832c-e02b-47f4-a413-82863b0489d8" SortOrder="2">blockFolder</ContentType>
    <ContentType Key="97b6fb91-642c-4c08-a130-54cb4902bcea" SortOrder="3">siteFooter</ContentType>
    <ContentType Key="923befb5-4dc0-4def-9b41-4cdbcdec3a9f" SortOrder="4">siteHeader</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a198c03e-f8ac-4f4c-80a3-23af8c9e4193</Key>
      <Name>Default Footer</Name>
      <Alias>defaultFooter</Alias>
      <Definition>cfd31443-3fc9-41b3-8396-6dbdb541d87e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>862653e4-122c-4b7e-94e4-b3d97cb1f658</Key>
      <Name>Default Header</Name>
      <Alias>defaultHeader</Alias>
      <Definition>43015ef7-52a8-4629-8bed-f4abd254edf1</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>