<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4fc278c4-661c-46ae-af5e-d83fdb97fa56" Alias="dataRoot" Level="2">
  <Info>
    <Name>Data Root</Name>
    <Icon>icon-safe color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="00c12663-ccc3-4a8b-a547-258a75517e5e" SortOrder="0">figureRoot</ContentType>
    <ContentType Key="d0332b04-03ea-4d55-a129-aa30307453d5" SortOrder="1">contactResponseRoot</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>