<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ec866c5-8923-44ed-bab1-7e9a2c4c187a" Alias="error404" Level="3">
  <Info>
    <Name>404</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3e494b66-8085-4c03-94de-be7b18f03689">warningBase</Parent>
    <Compositions>
      <Composition Key="3e494b66-8085-4c03-94de-be7b18f03689">warningBase</Composition>
    </Compositions>
    <DefaultTemplate>404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="62aac38c-7a1c-488d-a68d-05eeade8b9cb">404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>