<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00c12663-ccc3-4a8b-a547-258a75517e5e" Alias="figureRoot" Level="3">
  <Info>
    <Name>Figure Root</Name>
    <Icon>icon-coins-dollar-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data/Financial+Figures</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="82c977e7-6a13-4db1-996b-f96133917a46" SortOrder="0">figure</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>