<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ff6f3eb-fc70-4862-a27f-a54d3f1ceae3" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="2a4990c9-09f4-4fb0-a593-ea7304210300">pageBase</Parent>
    <Compositions>
      <Composition Key="2a4990c9-09f4-4fb0-a593-ea7304210300">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1d0c6c00-d38a-4281-892a-f89f4899a876">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="21d533bd-c67c-4e0d-b464-391c3f04a5ff" SortOrder="0">standardPage</ContentType>
    <ContentType Key="4ec866c5-8923-44ed-bab1-7e9a2c4c187a" SortOrder="1">error404</ContentType>
    <ContentType Key="740a9eed-b56c-4e96-985e-b7ee4b2e6e4d" SortOrder="2">underMaintenance</ContentType>
    <ContentType Key="9497d1c4-6774-467e-acd1-8076adadfbe7" SortOrder="3">basicPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9c9038a3-320e-482c-bb1c-75b68f75fc9c</Key>
      <Name>Banner CTA</Name>
      <Alias>bannerCTA</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>1ff73fc7-b5b7-42af-b44d-e3e99223caba</Key>
      <Name>Under maintenance</Name>
      <Alias>underMaintenance</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If checked, puts site and all pages underneath in maintenance mdoe]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>