<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d6c2d7a-a0df-4a9a-8c64-b0bd4c1c5917" Alias="settingsRoot" Level="2">
  <Info>
    <Name>Settings Root</Name>
    <Icon>icon-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="775f368c-e669-45b5-b936-74ffaaf67d64" SortOrder="0">setting</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>