<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21d533bd-c67c-4e0d-b464-391c3f04a5ff" Alias="standardPage" Level="3">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="2a4990c9-09f4-4fb0-a593-ea7304210300">pageBase</Parent>
    <Compositions>
      <Composition Key="2a4990c9-09f4-4fb0-a593-ea7304210300">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>StandardPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f30336a5-05dd-47de-8943-e944240f854c">StandardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>