<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="740a9eed-b56c-4e96-985e-b7ee4b2e6e4d" Alias="underMaintenance" Level="3">
  <Info>
    <Name>UnderMaintenance</Name>
    <Icon>icon-molecular-network color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3e494b66-8085-4c03-94de-be7b18f03689">warningBase</Parent>
    <Compositions>
      <Composition Key="3e494b66-8085-4c03-94de-be7b18f03689">warningBase</Composition>
    </Compositions>
    <DefaultTemplate>UnderMaintenance</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5babb297-d4e9-42e9-83d2-d90db5742b61">UnderMaintenance</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>